﻿@using QuestionTest.Controllers
<div class="jumbotron">
    <h1>Question </h1>
</div>
@foreach(var itm in ViewBag.answer)
{
    if(itm.AnswerType == "Text")
    {
        <div class="form-group">
            <label>@itm.Question_Detail</label>
            <input type="text" value="@itm.Answer_Text" />
        </div>
    }
    else if(itm.AnswerType == "1choice")
    {
        <div class="form-group">
            <label>@itm.Question_Detail</label>
            <div class="input-group">
                <input type="radio" id="rd1" name="rd" @if(itm.Answer_Chioce == "M") { <text> checked="checked" </text> } />ชาย
            </div>
            <div class="input-group">
                <input type="radio" id="rd2" name="rd" @if(itm.Answer_Chioce == "F") { <text> checked="checked" </text> } />หญิง
            </div>
        </div>
    }
    else if(itm.AnswerType == "MultiChoice")
    {
        {
            string[] arr = itm.Answer_Multiple.Split(',');

            <div class="form-group">
                <label>@itm.Question_Detail</label>
                <div class="input-group">
                    <input type="checkbox" id="chk1" name="chk" @if(arr.Contains("A1")) { <text> checked="checked" </text> } /> A1
                </div>
                <div class="input-group">
                    <input type="checkbox" id="chk2" name="chk" @if(arr.Contains("A2")) { <text> checked="checked" </text> } /> A2
                </div>
                <div class="input-group">
                    <input type="checkbox" id="chk3" name="chk" @if(arr.Contains("A3")) { <text> checked="checked" </text> } /> A3
                </div>
                <div class="input-group">
                    <input type="checkbox" id="chk4" name="chk" @if(arr.Contains("A4")) { <text> checked="checked" </text> } /> A4
                </div>
            </div>
        }
    }

}

@section scripts
{
    <script type="text/javascript">
        $(function () {

        })
    </script>
}